@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --nav-text: #d60000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* === NAVBAR CUSTOM STYLES FIXED === */


:root {
  --nav-bg: #ffffff;
  --nav-bg0: #0F172A;
  --nav-text: #000000;
  --nav-text0: #ffffff;
  --nav-para: #cf2424;
  --nav-btn: #00ffc3;
}


/* === Footer CUSTOM STYLES FIXED === */


:root {
  --nav-bg: #ffffff;
  --nav-bg0: #0F172A;
  --nav-text: #000000;
  --nav-text0: #ffffff;
  --nav-para: #cf2424;
  
}


/* === Hero CUSTOM STYLES FIXED === */


:root {
  --hero-bg: #f6f2f2;
  --hero-bg0: #0F172A;
  --hero-text: #000000;
  --hero-text0: #ffffff;
  --hero-btn: #00ffc3;
  --hero-btn2: #00ffc31e;
  --hero-para: #00ffaa;
}